<%= form_for([@problem, @problem.notes.build]) do |f| %>

  <p>
    <%= f.hidden_field :responder, value: @current_user %>
  </p>
  <p>
    <%= f.hidden_field :created_at, value: DateTime.now %>
  </p>
  <p>
    <%= f.text_area :body, placeholder: "Comments..." %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
