<% provide(:title, "Sign in") %>
<div class="row">
  <h1 class="large-12 columns">Sign In</h1>

  <p>Not a member? <%= link_to "Sign up now!", new_user_path %></p>

  <div class="roww">
    <div class="span6 offset3">
      <%= form_tag login_path, :method => :post do %>
      <div class="large-6 columns">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class="large-6 columns">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="large-12 columns">
        <%= button_tag "Login", :class => "small radius" %>
      </div>
  <% end %>
</div>
