<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.hidden_field :user_id, :value => @current_user.id %>
</div>

  <div class="field">
    <%= f.label :problem %><br>
    <%= f.text_field :title, size: 100, placeholder: "What is your exact problem?" %>
  </div>
  <div class="field">
    <%= f.hidden_field :published_date, :value => DateTime.now %>
  </div>
  <div class="field">
    <%= f.label :Attempted_Solutions %><br>
    <%= f.text_area :body, placeholder: "Describe your attempted solutions..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
