
<h1>All of y'all's Problems(Unsolved)</h1>

<div class="main">
<table>
  <thead>
    <tr>
      <th class="problemtitle">Problem</th>
      <th class="published">Date Published</th>
      <th class="author">Author</th>
      <th class="body">Attempted Solution</th>
      <th class="resolved">Resolved?</th>
    </tr>
  </thead>
  <tbody>

    <% @sorted_problems = @problems.sort_by(&:created_at) %>
    <% @sorted_problems.each do |problem| %>
    <tr>
      <tr id="<%= dom_id(problem) %>">
      <td class="ftitle"><%= link_to truncate(problem.title, length: 25), problem_path(problem)%></td>
      <td class="fpub"><%= problem.published_date %></td>
      <td class="fauthor"><%= link_to problem.user, problem.user%></td>
      <td class="fbody"><%= truncate(problem.body, length: 70, omission: '... (continued)') %></td>
      <% if problem.user == current_user %>
      <div class="resolve">
      <td class="fresolved"><%= link_to "Resolved", resolved_path(problem), method: :patch, remote: true  %></td>
    </div><% else %>
       <td class="notprob">Not your problem</td>
        <% end %>
      </tr>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
