<div class="problemshow">
  <h3 class="description">Description</h3>
  <p> - <%= @problem.title %></p>

  <h3 class="tried">What <%= @problem.user.name %> has tried</h3>
  - <%= @problem.body %>
  <br>
  <br>

  <% if @problem.user == @current_user %>
  <h3><%= button_to "Mark as Resolved", resolved_path(@problem.id), method: :patch  %></h3>
  <% end %>


  <div class="notes">
    <h3>Notes</h3>
    <div id="notes">
      <% @problem.notes.each do |note| %>
      <div id="<%= dom_id(note) %>">
        <%= note.body %><br>
        <%= note.responder %> at <%= note.created_at.to_formatted_s(format = :short) %>
        <br>
        <br>
      </div>
      <% end %>
    </div>
  </div>


  <%= form_for @note, remote: true do |f| %>
  <%= f.text_area :body, rows: 5, cols: 40, placeholder: "Add a note" %></p>
  <%= f.hidden_field :responder, value: current_user.id %>
  <%= f.button :Submit %>
  <% end %>

</div>
