<h3>Description</h3>
<p><%= @problem.title %></p>

<h3>What <%= @problem.user.name %> has tried already</h3>
<%= @problem.body %>
<br>
<br>

<% if @problem.user == current_user %>
  <h3><%= button_to "Mark as Resolved", resolved_path(@problem.id), method: :patch  %></h3>
  <% end %>

<h3>Notes</h3>
<% @sorted_notes = @problem.notes.sort_by(&:created_at) %>
<% @sorted_notes.each do |n| %>
  <%= n.body %><br>
  <%= n.responder %> at <%= n.created_at.to_formatted_s(format = :short) %>
  <br>
  <br>
<% end %>

<%= form_for([@problem, @problem.notes.build]) do |f| %>

  <p>
    <%= f.hidden_field :responder, value: @current_user %>
  </p>
  <p>
    <%= f.hidden_field :created_at, value: DateTime.now %>
  </p>
  <p>
    <%= f.text_area :body, placeholder: "Comments..." %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
